<div class="welcome">
  <h1>Welcome to Mindfull.</h1>
  <div>
    <ul>
      <li><a [routerLink] ="['/signup']">Signup</a></li>
      <li><a [routerLink] ="['/login']">Login</a></li>
      <li><a [routerLink] ="['/dashboard']">Dashboard</a></li>
      <li><a [routerLink] ="['/']">Homepage</a></li>
      <!-- <button (click)="logMeOut()">Log Out (Currently Doesn't Work)</button>   -->
    </ul>
  </div>
  <small>
    <strong>Text above the Horizontal Rule is in the HOMEPAGE file</strong>
  </small>
  <hr>
</div>

