<div class="bg">
    <div class="container">
        <div class="card">
            <div class="card-header col-sm-12">
                <img class ="brain" src="../../assets/img/logo.png" alt="">
                mindFull
                <img class ="brain" src="../../assets/img/logo.png" alt="">
            </div>
            <div class="card-body">
                <h3 class="card-title">My new Morningfull:</h3>
                <hr>
                <form (ngSubmit)="saveMorningfull()">

                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-12 prompt-date" for="morningfull-date"> Date</label>
                        <div class="col-sm-11">
                            <input data-date="" data-date-format="DD MMMM YYYY" class="form-control date" id="morningfull-date" type="text" placeholder="MM/DD/YYYY" [(ngModel)]="morningData.morningDate" name="morningDate">
                        </div>
                    </div>
                </fieldset>        
                <fieldset>      
                    <div class="form-group">
                        <label class="col-sm-12 prompt">Today, I am grateful for: </label>
                        <div class="col-sm-11">
                            <textarea name="morningGrateful" [(ngModel)]="morningData.morningGrateful[0]" autosize class="form-control" placeholder="My family & friends " rows="1"></textarea>
                            <textarea name="morningGrateful" [(ngModel)]="morningData.morningGrateful[1]" autosize class="form-control" placeholder="The opportunity to learn" rows="1"></textarea>
                            <textarea name="morningGrateful" [(ngModel)]="morningData.morningGrateful[2]" autosize class="form-control" placeholder="Krispy Kreme Donuts" rows="1"></textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset>      
                    <div class="form-group">
                        <label class="col-sm-12 prompt">Today, I will accomplish these tasks: </label>
                        <div class="col-sm-11">
                            <textarea name="morningTasks" [(ngModel)]="morningData.morningTasks[0]" autosize class="form-control" placeholder="Learn as much JavaScript as I can " rows="1"></textarea>  
                            <textarea name="morningTasks" [(ngModel)]="morningData.morningTasks[1]" autosize class="form-control" placeholder="Make a stranger smile" rows="1"></textarea>
                            <textarea name="morningTasks" [(ngModel)]="morningData.morningTasks[2]" autosize class="form-control" placeholder="Buy a dozen Krispy Kreme Donuts" rows="1"></textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-12 prompt"> This photo URL will represent something about my upcoming day: </label>
                        <div class="col-sm-11">
                            <textarea name="morningPhotoUrl" [(ngModel)]="morningData.morningPhotoUrl" autosize class="form-control" placeholder="https://donutsaresogood.jpg" rows="1"></textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-12 prompt"> One Word to represent something about my upcoming day:  </label>
                        <div class="col-sm-11">
                            <textarea name="morningWord" [(ngModel)]="morningData.morningWord" autosize class="form-control" placeholder="Productive" rows="1"></textarea>
                        </div>
                    </div>
                </fieldset>
                
                <div class="buttons">
                    <p *ngIf="saveError" class="error"> {{ saveError }}</p>
                    <button class="btn btn-success col-sm-6"> Save </button>
                    <button [routerLink]="['/dashboard']"class="btn-danger btn col-sm-6">Discard</button>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>



