.bg{
  background-image: url('../../assets/img/coffee.jpg');
  background-size: cover;
  background-position: center right;
  font-family: 'Open Sans', sans-serif
}
.card{
  width: 60%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 992px) { 
  .card{
    width: 90%;
  }
}

textarea{
  resize: none;
  margin-bottom: 20px;
}

.date{
  width: 150px;
}

input, textarea{
  border-radius: 50px;
}

.card-header{
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  text-align: center;
}

img{
  height: 25px;
}

.btn{
  border-radius: 50px;
  width: 100px;
  text-align: center;
}

.deleteEntry{
  display: block;
  margin: 0 auto;
}

.buttons{
  width: 250px;
  margin: 0 auto;
}

.card-title{
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: 3px 3px 6px black;
  text-align: center;
}

.prompt{
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.prompt-date{
  font-family: 'Pacifico', cursive;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.2)
}


