<div class="bg">
    <div class="container">
            <div class="card">
                    <div class="card-header col-sm-12">
                        <img class ="brain" src="../../assets/img/logo.png" alt="">
                        mindFull
                        <img class ="brain" src="../../assets/img/logo.png" alt="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Edit Eveningfull of {{ entry.date | date: "mediumDate" }} </h3>
                        <button class="btn-danger btn deleteEntry"(click)="deleteThisEvening()">Delete</button>
                        <hr>
                        <form (ngSubmit)="doTheUpdate(entry._id, myForm)" #myForm="ngForm" >
                
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-12 prompt-date" for="eveningfull-date"> Date</label>
                                <div class="col-sm-11">
                                    <input data-date="" data-date-format="DD MMMM YYYY" class="form-control date" id="eveningfull-date" type="text" placeholder="Date" [(ngModel)]="entry.date" name="eveningDate">
                                </div>
                            </div>
                        </fieldset>        
                        <fieldset>      
                            <div class="form-group">
                                <label class="col-sm-12 prompt">Today, I accomplished:  </label>
                                <div class="col-sm-11">
                                    <textarea name="eveningAccomplishments0" [(ngModel)]="entry.accomplishments[0]" autosize class="form-control" rows="1"></textarea>
                                    <textarea name="eveningAccomplishments1" [(ngModel)]="entry.accomplishments[1]" autosize class="form-control" rows="1"></textarea>
                                    <textarea name="eveningAccomplishments2" [(ngModel)]="entry.accomplishments[2]" autosize class="form-control" rows="1"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>      
                            <div class="form-group">
                                <label class="col-sm-12 prompt">Today, I learned :</label>
                                <div class="col-sm-11">
                                    <textarea name="eveningLearn0" [(ngModel)]="entry.learn[0]" autosize class="form-control"  rows="1"></textarea>  
                                    <textarea name="eveningLearn1" [(ngModel)]="entry.learn[1]" autosize class="form-control" rows="1"></textarea>
                                    <textarea name="eveningLearn2" [(ngModel)]="entry.learn[2]" autosize class="form-control" rows="1"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-12 prompt"> One thing I could have done differently is: </label>
                                <div class="col-sm-11">
                                    <textarea name="eveningDifferent" [(ngModel)]="entry.different" autosize class="form-control" value="{{ entry.different }}" rows="1"></textarea>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-12 prompt"> One word to describe by day today would be: </label>
                                <div class="col-sm-11">
                                    <textarea name="eveningWord" [(ngModel)]="entry.word" autosize class="form-control" value="{{ entry.word }}" rows="1"></textarea>
                                </div>
                            </div>
                        </fieldset>
    
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-12 prompt-date"> On a 1-5 scale, I would rate my day a :</label>
                                <div class="col-sm-11">
                                    <input type="number" class="form-control date" placeholder="5" [(ngModel)]="entry.rating" name="eveningRating" value="{{ entry.rating }}">
                                </div>
                            </div>
                        </fieldset> 
    
                        <!-- <fieldset>
                            <div class="form-group">
                                <label class="col-sm-6"> Picture Upload</label>
                                <div class="col-sm-11">
                                    <input type="file" class="form-control" name="eveningImage" [(ngModel)]="entry.image" ng2FileSelect [uploader]="myCoolUploader" value="{{ entry.image }}">
                                </div>
                            </div>
                        </fieldset>  -->

                        <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-12 prompt"> A picture upload from today: </label>
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control "  [(ngModel)]="entry.image" name="eveningImage" value="{{ entry.image }}">
                                    </div>
                                </div>
                        </fieldset> 
                        <!-- 
                        <label for="eveningfull-image"> image </label>
                        <input id="eveningfull-image" type="text"  [(ngModel)]="entry.image" name="eveningImage" value="{{ entry.image }}">
                        <br> -->
                        
                        <div class="buttons">
                            <p *ngIf="saveError" class="error"> {{ saveError }}</p>
                            <button class="btn btn-success col-sm-6"> Save </button>
                            <button [routerLink]="['/dashboard']"class="btn-primary btn col-sm-6">Back</button>
                        </div>
                        </form>
                
                    </div>
            </div>
        </div>
    </div>