<div id="overlay" class="daBody">
    <div class="loginbox">
        <div class="clearer"></div>
        <h1>Create Account</h1><br>
        <p *ngIf="throwError" class="error">
            {{ throwError }}
        </p>
        <form (ngSubmit)="doSignUp()">
            <label for="username-input"></label>
            <input id="username-input" type="text" placeholder="Username" [(ngModel)]="signupInfo.username" name="usernameValue">
            <br>          
            <label for="password-input"></label>
            <input id="password-input" type="password" placeholder="Password" [(ngModel)]="signupInfo.password" name="passwordValue">
            <br>          
            <input type="submit" value="CREATE ACCOUNT">
          </form>
          <div class="no-account">
            <span id="text-account">Already have an account?</span><a id="create-account" [routerLink]="['/login']"> Login here!</a>
          </div>
    </div> 
  </div>