<h1>Eveningfull Entry Details:</h1>
<button (click)="deleteThisEvening()">DELETE</button>

<a [routerLink]="['/dashboard/editeveningfull', entry._id]">EDIT ENTRY</a>


<h3>What I Accomplished:</h3>
<ul *ngFor=" let accomplishment of entry.accomplishments ">
  <li> {{ accomplishment }}</li>
</ul>
<h3>What I could have done differently:</h3>
<p> {{ entry.different }} </p>

<h3>What I learned:</h3>
<ul *ngFor=" let learn of entry.learn ">
  <li> {{ learn }}</li>
</ul>

<h3>One word to describe today</h3>
<p> {{ entry.word }} </p>
