<h1>
  Hey {{ currentUser.username }}, Welcome to the Dashboard!
  <button (click)="logMeOut()">Log Out</button>  
</h1>

<div>
  <div class="morning-entries">
    <h2>ALL MORNING ENTRIES DISPLAYED HERE</h2>
    <h2>
      <a [routerLink]="['/dashboard/newmorningfull']">Add a new MORNING ENTRY</a>
    </h2>
    <div>
      <ul *ngFor="let entry of entries?.morningEntries">
        <li>
          <a [routerLink]="['/dashboard/morningfull', entry._id]"> {{ entry.date }} </a>
        </li>
        <li> {{ entry.grateful }} </li>
        <li> {{ entry.tasks }} </li>
        <li> {{ entry.word }} </li>
      </ul>
    </div>
  </div>
  <div class="evening-entries">
    <h2>ALL EVENING ENTRIES DISPLAYED HERE</h2>
    <h2>
      <a [routerLink]="['/dashboard/neweveningfull']">Add a new EVENING ENTRY</a>
    </h2>
    <ul *ngFor="let entry of entries?.eveningEntries">
      <li>
        <a [routerLink]="['/dashboard/eveningfull', entry._id]"> {{ entry.date }} </a>
      </li>
      <li> {{ entry.accomplishments }} </li>
      <li> {{ entry.different }} </li>
      <li> {{ entry.learn }}  </li>
      <li> {{ entry.word }} </li>
    </ul>
  </div>
</div>