h1{
  text-align: center;
}

.morning-entries, .evening-entries{
  width: 40%;
  float: left;
  text-align: center;
  padding: 50px;
}

.morning-entries ul, .evening-entries ul{
  list-style-type: none;
}

.single-entry{
  border: 1px solid black;
} 

/* Title Nav Starts Here */
.title{
  font-size: 32px;
}

/* Sidebar Area */
.sidebar{
  background-image: url("../../assets/img/wood.jpg");
}

.logout-btn-li{
  width: 100%;
}  
